@charset "utf-8";
/* CSS Document */
* {
    padding: 0;
    margin: 0
}

body {
    font: 12px/1.5 'Microsoft YaHei',Helvetica,Tahoma;
    color: #76583b;
    background: #efba00;
}

a {
    color: #333;
    text-decoration: none
}

a:hover {
    color: #008cb4;
    text-decoration: none;
}

img {
    border: 0;
    max-width: 100%;
}

ul, ol {
    list-style: none
}

input, textarea, select {
}

em, i, font {
    font-style: normal
}

.clr {
    height: 0;
    font-size: 0;
    clear: both;
    _overflow: hidden
}

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

* html .clearfix {
    height: 1%;
}