@charset "utf-8";/* CSS Document */
*{padding:0;margin:0}
body{font-family:"华文细黑";font-size:100%;color:#333;line-height:1.5em;background:#f5f5f5;}
a{color:#333;text-decoration:none}
a:hover{color:#008cb4;text-decoration:none;}
img{border:0;max-width:100%;}
ul,ol{list-style:none}
input,textarea,select{}
em,i,font{font-style:normal}
.clr{height:0;font-size:0;clear:both;_overflow:hidden}
.clearfix:after{content:" ";display:block;height:0;clear:both;visibility:hidden;} 
* html .clearfix{height:1%;}

/*android*/
.head_top{width:100%;height:43px;line-height:43px;box-sizing:border-box;font-size:18px;color:#fff;text-align:center;position:fixed;left:0;top:0;background:#008cb4;z-index:9999;font-family:"方正黑体简体"}

/*头部*/
.head_top i{display:block;width:80px;height:43px;font-size:0.875em;background:url(../images/img_09.png) left center no-repeat;position:absolute;left:10px;top:0px;background-size:18%;}
.head_top i a{display:block;width:80px;height:43px;line-height:43px;color:#fff;}
.head_top em{display:block;width:80px;height:43px;font-size:0.875em;position:absolute;right:10px;top:0px;}
.head_top em a{display:block;width:80px;height:43px;line-height:43px;color:#fff;}
.kongDivTop{height:43px;}

/*主体*/
.container{width:100%;box-sizing:border-box;background:#f5f5f5;}

.main_visual{height:182px;border-top:1px solid #d7d7d7;overflow:hidden;position:relative;}
.main_image{height:182px;overflow:hidden;position:relative;}
.main_image ul{width:9999px;height:182px;overflow:hidden;position:absolute;top:0;left:0}
.main_image li{float:left;width:100%;height:182px;}
.main_image li span{display:block;width:100%;height:182px;}
.main_image li a{display:block;width:100%;height:182px;}
.main_image li .img_1{background:url('../images/img_main_1.jpg') center top no-repeat}
.main_image li .img_2{background:url('../images/img_main_2.jpg') center top no-repeat}
.main_image li .img_3{background:url('../images/img_main_3.jpg') center top no-repeat}
.main_image li .img_4{background:url('../images/img_main_4.jpg') center top no-repeat}
.main_image li .img_5{background:url('../images/img_main_5.jpg') center top no-repeat}
div.flicking_con{position:absolute;bottom:10px;left:50%;z-index:999;width:300px;height:21px;margin:0 0 0 -50px;}
div.flicking_con a{float:left;width:21px;height:21px;margin:0;padding:0;background:url('../images/btn_main_img.png') 0 0 no-repeat;display:block;text-indent:-1000px}
div.flicking_con a.on{background-position:0 -21px}
#btn_prev,#btn_next{z-index:11111;position:absolute;display:block;width:73px!important;height:74px!important;top:50%;margin-top:-37px;display:none;}
#btn_prev{background:url(../images/hover_left.png) no-repeat left top;left:100px;}
#btn_next{background:url(../images/hover_right.png) no-repeat right top;right:100px;}


/*通用表格*/
.dataTable{width:100%;border-collapse:collapse;margin-bottom:20px;}
.dataTable th,.dataTable td{padding:7px 1px;text-align:center;border-bottom:1px solid #ddd;}
.dataTable th{font-size:0.75em;background:#fff;}
.dataTable td{font-size:0.75em;color:#555;word-break:break-all;}
.dataTable td.first-child,.dataTable th.first-child{text-align:left;}
.dataTable .first-child input{float:left;display:inline;margin:2px 10px 0 5px;}
.dataTable font{color:#ec5e05;}
.dataTable i{color:#ccc;}
.dataTable select{height:24px;padding:3px;}

/*底部固定栏*/
.kongDiv{height:55px;}
.bar_fixd{width:100%;height:48px;box-sizing:border-box;position:fixed;left:0;bottom:0;border-top:2px solid #008cb4;background:#fff;z-index:9999;}
.bar_fixd .bar_con{width:100%;height:48px;margin:0 auto;}
.bar_fixd .bar_con li{float:left;width:18%;height:48px;background:#fff;}
.bar_fixd .bar_con li.icon1{width:18%;background:#fff url(../images/img_07_2b.png) center center no-repeat;background-size:54px 48px;}
.bar_fixd .bar_con li.icon1.on{width:18%;background:#008cb4 url(../images/img_07_2a.png) center center no-repeat;background-size:54px 48px;}
.bar_fixd .bar_con li.icon2{width:18%;background:#fff url(../images/img_07_3b.png) center center no-repeat;background-size:54px 48px;}
.bar_fixd .bar_con li.icon2.on{width:18%;background:#008cb4 url(../images/img_07_3a.png) center center no-repeat;background-size:54px 48px;}
.bar_fixd .bar_con li.icon4{width:18%;background:#fff url(../images/img_07_4b.png) center center no-repeat;background-size:54px 48px;}
.bar_fixd .bar_con li.icon4.on{width:18%;background:#008cb4 url(../images/img_07_4a.png) center center no-repeat;background-size:54px 48px;}
.bar_fixd .bar_con li.icon5{width:18%;background:#fff url(../images/img_07_5b.png) center center no-repeat;background-size:54px 48px;}
.bar_fixd .bar_con li.icon5.on{width:18%;background:#008cb4 url(../images/img_07_5a.png) center center no-repeat;background-size:54px 48px;}
.bar_fixd .bar_con li a{display:block;width:100%;height:48px;}

.bar_fixd .bar_con li.icon3{width:28%;height:48px;position:relative;}
.bar_fixd .bar_con li.icon3 a{display:block;width:100%;height:48px;position:absolute;left:0;top:-1px;background:url(../images/img_07_1b.png) center bottom no-repeat;background-size:72px 47px;z-index:2001}
.bar_fixd .bar_con li.icon3.on a{display:block;width:100%;height:48px;position:absolute;left:0;top:-1px;background:url(../images/img_07_1a.png) center bottom no-repeat;background-size:72px 47px;z-index:2001}




