@charset "utf-8";
/* CSS Document */

.tools_bar{position:fixed;right:0;top:170px;z-index: 200}
.kfBox{width:48px;font-family:"微软雅黑";}
.kfBox p{margin:0;}
.kfBox li{width:100%;height:48px;margin-bottom:3px; position:relative; }
.kfBox li .icon1,.kfBox li .icon2{display:block;width:48px;height:48px;}
.kfBox li.qqKf .icon1{background:url(../images/qq_01.gif) no-repeat;}
.kfBox li.qqKf .icon1.on{background:url(../images/qq_01_1.gif) no-repeat;}
.kfBox li.hotLine .icon2{background:url(../images/qq_02.gif) no-repeat;}
.kfBox li.hotLine .icon2.on{background:url(../images/qq_01_2.gif) no-repeat;}
.kfBox li.qqKf .qqKf_list{width:141px;}
.kfBox li.qqKf .qqKf_list{width:138px;padding:5px 0;border-radius:5px 0 0 5px; position:absolute;top:0;right:49px;background:#da471c;}
.kfBox li.qqKf .qqKf_list p{height:30px;line-height:28px;padding-left:40px;color:#fff;font-size:14px;background:url(../images/qq.gif) 20px center no-repeat;}
.kfBox li.qqKf .qqKf_list p.last{padding:0; text-align:center;background:none;}
.kfBox li.qqKf .qqKf_list p a{color:#fff;}
.kfBox li.qqKf .qqKf_list span{display:block;width:100%;height:2px;background:url(../images/line1.gif) center center no-repeat;}

.kfBox li.hotLine .qqKf_list2{width:138px;padding:5px 0;border-radius:5px 0 0 5px;position:absolute;top:0;right:49px;background:#1c8ec0;}
.kfBox li.hotLine .qqKf_list2 p{height:30px;line-height:30px;color:#fff; text-align:center;font-size:12px;}
.kfBox li.hotLine .qqKf_list2 p.first{font-size:16px;}
.kfBox li.hotLine .qqKf_list2 p{font-size:12px;}
.kfBox li.hotLine .qqKf_list2 span{display:block;width:100%;height:2px;background:url(../images/line2.gif) center center no-repeat;}



